#toast {
    display: flex;
    justify-content: left;
    align-items: center;
    visibility: hidden;
    height: 50px;
    margin: auto;
    background-color: #ba1a1a;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 180px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #title{
    min-width: fit-content;
    height: 50px;
    float: left;
    padding: 16px 8px;
    box-sizing: border-box;
    background-color: #9f0000;
    color: #fff;
}
#toast #desc{
    height: 50px;
    min-width: fit-content;
    color: #fff;
    padding: 16px 8px;
    /*text-align: center;*/
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, /*expand 0.5s 0.5s,*/stay 3s 1s, /*shrink 0.5s 2s,*/ fadeout 0.5s 2.5s;
    animation: fadein 0.5s, /*expand 0.5s 0.5s,*/stay 3s 1s, /*shrink 0.5s 4s,*/ fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 150px; opacity: 0;}
    to {bottom: 180px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 150px; opacity: 0;}
    to {bottom: 180px; opacity: 1;}
}

/*@-webkit-keyframes expand {*/
/*    from {min-width: 50px}*/
/*    to {min-width: 350px}*/
/*}*/

/*@keyframes expand {*/
/*    from {min-width: 50px}*/
/*    to {min-width: 350px}*/
/*}*/
@-webkit-keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
/*@-webkit-keyframes shrink {*/
/*    from {min-width: 350px;}*/
/*    to {min-width: 50px;}*/
/*}*/

/*@keyframes shrink {*/
/*    from {min-width: 350px;}*/
/*    to {min-width: 50px;}*/
/*}*/

@-webkit-keyframes fadeout {
    from {bottom: 180px; opacity: 1;}
    to {bottom: 210px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 180px; opacity: 1;}
    to {bottom: 210px; opacity: 0;}
}