@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
#search-text{
    outline: 0;
    border: 1px solid #4CAF50;
    padding: 14px;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    margin-left: 30px;
}
.register-page {
    width: 360px;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 15px 0 0;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form #submit-button {
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin: 15px 0 0;
}
.form button:hover,.form button:active,.form button:focus {
    background: #43A047;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #f2f2f2 !important;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

header {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: white;
    border-bottom: 4px solid transparent;
    border-image: linear-gradient(to left, white 0%, rgb(76,175,80) 50%, white 100%) 1;
}

main {
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

footer {
    flex: 2;
    display: flex;
    justify-content: left;
    align-items: end;
    border-top: 4px solid transparent;
    border-image: linear-gradient(to left, white 0%, rgb(76,175,80) 50%, white 100%) 1;
    height: 150px;
    width: 100%;
    background-color: white;
}
footer small {
    margin-left: 8px;
    margin-bottom: 8px;
}
.error {
    font-size: 14px;
    color: red;
    padding-right: 100px;
    width: fit-content;
}

.search-results {
    display: none;
}

.table-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination {
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    border: 1px solid #ccc;
    color: #333;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f0f0f0;
}

.pagination .prev,
.pagination .next {
    font-weight: bold;
}

.power-container {
    background-color: #2E424D;
    width: 100%;
    height: 15px;
    border-radius: 5px;
}
#power-point {
    background-color: #D73F40;
    width: 1%;
    height: 100%;
    border-radius: 5px;
    transition: 0.5s;
}
