body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
svg {
    width: 300px;
    display: block;
}
p {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #4CAF50;
}